* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

:root {
  --color-roxo: #6a27d7;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {  
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  background: linear-gradient(black 8%, #6a27d7 500% );

}





h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-bottom: 3rem;
  
  
}
.titulo-da-caixa {
  text-align: center;
  color: var(--color-roxo);
  margin-bottom: 2.5rem;
  font-size: 2rem;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(175, 175, 175);
  padding-bottom: 1.2rem;
  
}

.tela {
  padding: 2rem 0;

  background: linear-gradient(black 8%, #6a27d7 500% );

}


.menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
 
}

.menu ul li {
  cursor: pointer;
  padding: 1rem;
  border-bottom: 1px solid;
  color: white;
  position: relative;

  
}
.menu ul li:before {
  content: '';
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;

}
.menu ul li:hover:before {
  opacity: 1;
  visibility: visible;
  border-left: 0.5rem solid var(--color-roxo)
}




.sr-only {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 1;
 
}

.caixa-principal-de-cadastro.active .sr-only{
  opacity: 1;
  visibility: visible;
}

.cadastro-de-dados {
  opacity: 0;
  background-color: #FFFFFF;
  padding: 2rem;
  transition: all 400ms;
  transform: scale(0.8);
  border-radius: 0.5rem;
  width: 90vw;
  margin: 2rem auto;
  
}

.caixa-principal-de-cadastro.active .cadastro-de-dados{
  transform: scale(1);
  opacity: 1;
 

}

#btn-adicionar, #btn-reset {
  padding: 1rem 3rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(178, 178, 178);
  outline: none;
  cursor: pointer;

}


#btn-adicionar:hover, #btn-reset:hover {
 filter: brightness(0.9);
}

label {
  font-size: 1.2rem;
  font-weight: 300;
 
}




.linha-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;

}
.caixa-sexo, .caixa-idade, .caixa-name {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;

}

.caixa-sexo > div {
  display: flex;
  gap: 0.5rem;
}



#input-nasc, #input-name {
  height: 4rem;
  padding: 1rem;
  outline: none;
  border: 1px solid #d4d4d4;
  border-radius: 0.5rem;
  width: 100%;



}



#input-nasc:focus, #input-name:focus {
  border: 1px solid var(--color-roxo);

}


.listando-intem{
  overflow-y: scroll;
  width: 100%;
  height: 15rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin: 1rem auto;
  border: 1px solid rgb(178, 178, 178);

}

.option-lista {
  border: 1px solid blue;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  list-style: decimal;

}
.span1 {
  font-weight: 700;
}
.span2 {
  color: rgb(255, 153, 0);
}


.btn-cancelar, .btn-salvar {
  border-radius: 1rem;
  display: flex;
  width: 15rem;
  height: 5rem;
  justify-content: center;
  align-items: center;  
  font-size: 1.6rem;
  color: white;
  
  transition: all 0.2s;
  
}
.btn-cancelar:hover{
  box-shadow: 0px 0px 0.5rem var(--color-roxo);
}

.btn-salvar:hover {
  box-shadow: 0px 0px 0.1rem var(--color-roxo);
 filter: brightness(1.2);

}

.btn-cancelar {
  border: 1px solid var(--color-roxo);
  color: var(--color-roxo);
}

.btn-salvar {
  background-color: var(--color-roxo);

}
.btn-option {
  display: flex;
  gap: 2rem;
  justify-content: center;
}